@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");

body {
	background-color: #f5f6fa;
}

.btn-thisweb {
	background-color: #f96d01;
	color: white;
}

.btn-thisweb:hover {
	background-color: #fb8b34;
	color: white;
}

.clearfix {
	clear: both;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

nav.navbar {
	background-color: white !important;
}

.auth-wrapper {
	height: auto;
	margin: auto;
	margin-top: 30px;
	position: relative;
	width: 350px;
}

.auth-wrapper h2.brand-name {
	color: #333333;
	font-size: 28px;
	font-family: "Nunito";
	font-weight: 700;
	margin-bottom: 0;
	text-align: center;
}

.auth-wrapper p.subtitle {
	color: #666666;
	font-size: 15px;
	margin-bottom: 30px;
	text-align: center;
}

.bd-footer {
	font-size: 0.875rem;
	color: #63707c;
}
.bd-footer a {
	font-weight: 600;
	color: #495057;
}
.bd-footer a:hover,
.bd-footer a:focus {
	color: #007bff;
}
.bd-footer p {
	margin-bottom: 0;
}
.bd-footer-links {
	padding-left: 0;
	margin-bottom: 1rem;
}
.bd-footer-links li {
	display: inline-block;
}
.bd-footer-links li + li {
	margin-left: 1rem;
}

@media screen and (max-width: 400px) {
	.auth-wrapper {
		width: 90%;
	}
}
