.wrapper {
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	position: relative;
	width: 1100px;
}

.wrapper .menu {
	align-self: flex-start;
	background-color: white;
	border-radius: 4px;
	box-sizing: border-box;
	height: auto;
	padding: 20px;
	position: relative;
	width: 270px;
}

.wrapper .content {
	background-color: white;
	border-radius: 4px;
	box-sizing: border-box;
	height: auto;
	padding: 20px;
	position: relative;
	width: calc(100% - 300px);
}

.wrapper .content h3.title {
	color: #333;
	font-size: 20px;
	font-family: "Nunito";
	margin-bottom: 15px;
}

@media screen and (max-width: 1150px) {
	.wrapper {
		width: 800px;
	}

	.wrapper .menu {
		width: 230px;
	}

	.wrapper .content {
		width: calc(100% - 250px);
	}
}

@media screen and (max-width: 850px) {
	.wrapper {
		display: block;
		margin-top: 25px;
		width: 90%;
	}

	.wrapper .menu {
		margin-bottom: 20px;
		width: 100%;
	}

	.wrapper .content {
		width: 100%;
	}
}
